<DOCTYPE! HTML>
    <html>
        <head>
            <title>result</title>
        </head>
        <body>
            <h1>Result</h1>
            <p style="font-family: Arial; font-size: 16px; color: red">Name: {{name}}</p>
            <p style="font-family: Arial; font-size: 16px; color: blue">Shoe size: {{shoesize}}</p>
            <p style="font-family: Arial; font-size: 16px; color: green">Favourite colour: {{favcolour}}</p>
            <p style="font-family: Arial; font-size: 16px; color: purple">Date of birth: {{dob}}</p>
        </body>
    </html>